.DS_Store
Backend/.env
Backend/node_modules
Backend/.vscode/settings.json
Backend/designflow-mysql-aws.session.sql

#terraform files
**/.terraform/*
*.tfvars
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraformrc
terraform.rc
.terraform.lock.hcl

designflow-mysql-aws.session.sql
.dockerignore

designflow.pem
rootkey.csv
designflow_database.session.sql
script.sh
.vscode/settings.json
